/* CSS File */
/* Color Pallete*/
/*
#e7feff
#9ad1d4
#80ced7
#007ea7
#003249
*/

/* Mobile Phone*/
@media only screen and (min-width: 100px) {
    .wrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas:
            "thumbpic"
            "title"
            "hnav1";
    }

    .fwrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(300px, auto);
        width: 100%;
        grid-template-areas:
            "footer"
    }

    .mwrapper {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(10px, auto);
        grid-template-areas:
            "cover"
            "intro"
            "text1"
            "pic1"
            "text2"
            "pic2"
            "text3"
            "pic3"

    }

    .p2contentwrap {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
        grid-template-areas:
            "pic11"
            "content1"
            "pic12"
            "content2"
            "pic13"
            "content3"
    }

    .gallery {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px auto);
        width: 100%;
        grid-template-areas:
            "gal1"
            "gal2"
            "gal3"
            "gal4"
            "gal5"
            "gal6"
            "gal7"
            "gal8"
            "gal9"
            "gal10"
            "gal11"
            "gal12"
    }

    .gal1,
    .gal2,
    .gal3,
    .gal4,
    .gal5,
    .gal6,
    .gal7,
    .gal8,
    .gal9,
    .gal10,
    .gal11,
    .gal12 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery {
        width: 100%;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) {
    .wrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas:
            "thumbpic"
            "title" 
            "hnav1";
    }

    .fwrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(300px, auto);
        width: 100%;
        grid-template-areas:
            "footer"
    }

    .mwrapper {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(10px, auto);
        grid-template-areas:
            "cover"
            "intro"
            "text1"
            "pic1"
            "text2"
            "pic2"
            "text3"
            "pic3"

    }

    .p2contentwrap {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
        grid-template-areas:
            "pic11"
            "content1"
            "pic12"
            "content2"
            "pic13"
            "content3"

    }

    .gallery {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px auto);
        width: 100%;
        grid-template-areas:
            "gal1 gal2"
            "gal3 gal4"
            "gal5 gal6"
            "gal7 gal8"
            "gal9 gal10"
            "gal11 gal12"
    }

    .gal1,
    .gal2,
    .gal3,
    .gal4,
    .gal5,
    .gal6,
    .gal7,
    .gal8,
    .gal9,
    .gal10,
    .gal11,
    .gal12 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery {
        width: 100%;
    }
}

/* Laptop */
@media only screen and (min-width: 992px) {
    .wrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas:
            "thumbpic title hnav1";
    }

    .cover {

        grid-column: 1 / 5;
        grid-row: 1;
        max-height: 400px;
        width: 100%;
        align-self: start;
    }

    .coverpic {
        width: 100%;
        max-height: 400px;
        min-height: 50px;
        object-fit: cover;
    }

    .intro {
        grid-column: 2/ 4;
        grid-row: 2;
        align-self: start;
        border: #003249 solid 1px;
        align-self: center;
    }

    .pic1 {
        grid-column: 2;
        grid-row: 3;
        align-self: center;
    }

    .text1 {
        grid-column: 3;
        grid-row: 3;
        align-self: center;
    }

    .text2 {
        grid-column: 2;
        grid-row: 4;
        align-self: center;
    }

    .pic2 {
        grid-column: 3;
        grid-row: 4;
        align-self: center;
    }

    .text3 {
        grid-column: 3;
        grid-row: 5;
        align-self: center;
    }

    .pic3 {
        grid-column: 2;
        grid-row: 5;
        align-self: center;
    }

    .fwrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(300px, auto);
        width: 100%;
        grid-template-areas:
            "footer"
    }

    .mwrapper {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(10px, auto);

    }

    .p2contentwrap {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
    }

    .content1 {
        grid-column: 2 / 3;
        grid-row: 2;
        width: 100%;
    }

    .pic11 {
        grid-column: 2 / 4;
        grid-row: 1;
        width: 100%;
    }

    .content2 {
        grid-column: 2 / 3;
        grid-row: 3;
        width: 100%;
    }

    .pic12 {
        grid-column: 3 / 4;
        grid-row: 3;
        width: 100%;
    }

    .content3 {
        grid-column: 2 /3;
        grid-row: 4;
        width: 100%;
    }

    .pic13 {
        grid-column: 3 / 4;
        grid-row: 4;
        width: 100%;
    }

    .gallery {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px auto);
        width: 100%;
        grid-template-areas:
            "gal1 gal2 gal3"
            "gal4 gal5 gal6"
            "gal7 gal8 gal9"
            "gal10 gal11 gal12"
    }

    .gal1,
    .gal2,
    .gal3,
    .gal4,
    .gal5,
    .gal6,
    .gal7,
    .gal8,
    .gal9,
    .gal10,
    .gal11,
    .gal12 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery {
        width: 100%;
    }
}

/* Desktop*/
@media only screen and (min-width: 2000px) {
    .wrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas:
            "thumbpic title hnav1";
    }

    .cover {
        grid-column: 1 / 5;
        grid-row: 1;
        max-height: 400px;
        min-height: 10px;
        width: 100%;
        align-self: start;
    }

    .coverpic {
        width: 100%;
        max-height: 400px;
        min-height: 50px;
        object-fit: cover;
    }

    .intro {
        grid-column: 2/ 4;
        grid-row: 2;
        align-self: start;
        border: #003249 solid 1px;
        align-self: center;
    }

    .pic1 {
        grid-column: 2;
        grid-row: 3;
        align-self: center;
    }

    .text1 {
        grid-column: 3;
        grid-row: 3;
        align-self: center;
    }

    .text2 {
        grid-column: 2;
        grid-row: 4;
        align-self: center;
    }

    .pic2 {
        grid-column: 3;
        grid-row: 4;
        align-self: center;
    }

    .text3 {
        grid-column: 3;
        grid-row: 5;
        align-self: center;
    }

    .pic3 {
        grid-column: 2;
        grid-row: 5;
        align-self: center;
    }

    .fwrapper {
        background-color: #003249;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(300px, auto);
        width: 100%;
        grid-template-areas:
            "footer"
    }

    .mwrapper {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(10px, auto);

    }

    .p2contentwrap {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(10px, auto);
    }

    .content1 {
        grid-column: 2 / 3;
        grid-row: 2;
        width: 100%;
    }

    .pic11 {
        grid-column: 2 / 4;
        grid-row: 1;
        width: 100%;
    }

    .content2 {
        grid-column: 2 / 4;
        grid-row: 3;
        width: 100%;
    }

    .pic12 {
        grid-column: 3 / 4;
        grid-row: 3;
        width: 100%;
    }

    .content3 {
        grid-column: 2 /3;
        grid-row: 4;
        width: 100%;
    }

    .pic13 {
        grid-column: 3 / 4;
        grid-row: 4;
        width: 100%;
    }

    .gallery {
        background-color: #e7feff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px auto);
        width: 100%;
        grid-template-areas:
            "gal1 gal2 gal3"
            "gal4 gal5 gal6"
            "gal7 gal8 gal9"
            "gal10 gal11 gal12"
    }

    .gal1,
    .gal2,
    .gal3,
    .gal4,
    .gal5,
    .gal6,
    .gal7,
    .gal8,
    .gal9,
    .gal10,
    .gal11,
    .gal12 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery {
        width: 100%;
    }
}

/*Core Elements-Font-----------------*/

h1 {
    font-family: monospace;
    text-shadow: 1.5px 1.5px #007ea7;
}

h2 {
    font-family: monospace;
    font-size: 28px;
    text-align: center;
    padding: 1%;
    color: #007ea7;
}

h3 {
    font-family: monospace;
    font-size: 38px;
}

h4 {
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    color: #007ea7
}

p {
    font-family: sans-serif;
    padding-bottom: 10px;
    line-height: 1.5;
    color: #007ea7;
}

a {
    font-family: sans-serif;
}

.attr {
    font-size: 10px;
    padding: 10px;
    color: #9ad1d4;
}

.subpa {
    font-size: 30px;
    color: #80ced7;
    text-align: center;
}

/*Core Elements-Header and Footer-
/*title---------------------------*/

.thumbpic {
    max-height: 115px;
    min-height: 10px;
    min-width: 100%;
    align-self: start;
}

.thumb {
    width: 100%;
    max-height: 115px;
    min-height: 115px;
    object-fit: cover;
    opacity: 0.7;
}

.title {
    float: left;
    object-fit: cover;
}

.title h1 a {
    text-decoration: none;
    color: #9ad1d4;
    font-family: monospace;
    min-width: 20px;
}

.title :hover {
    color: #007ea7;
    text-decoration: none;
}

.hnav1 {
    float: right;

}

.title h1 {
    color: #9ad1d4;
    text-decoration: none;
    font-size: 36px;
    vertical-align: middle;
    min-width: 20px;
    max-width: 175px;
    max-height: 115px;
    min-height: 115px;
}

/*Navigation----------------------*/

.nav {
    float: right;
    display: inline-block;
}

ul {
    padding: 2px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #9ad1d4;
    font-size: 22px;
}

.dropmenu .drop :hover {
    background-color: #007ea7;
}

.about,
.dropmenu {
    text-decoration: none;
    display: inline-block;
    float: left;
    max-width: 200px;
    min-width: 140px;
    background-color: #003249;
    text-decoration: none;
}

.about :hover {
    background-color: #007ea7;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.drop :hover {
    background-color: #007ea7;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #003249;
    z-index: 1;
}

.dropdown a {
    color: #9ad1d4;
    max-width: 200px;
    min-width: 140px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown :hover {
    background-color: #007ea7;
}

.dropmenu:hover .dropdown {
    display: block;
}

/*Footer---------------------------*/

.fnav ul li {
    text-decoration: none;
    color: #9ad1d4;
    font-size: 22px;
    display: inline-block;
    align-self: center;
    padding: 10px;
}

.fnav ul li :hover {
    color: #007ea7;
}

.fnav ul {
    text-align: center;
    min-width: 100%;
    align-self: justify;
}

/*Index.html Main------------------*/
/*Index.html Cover Picture---------*/

.cover {
    max-height: 400px;
    min-height: 10px;
    min-width: 100%;
    align-self: start;
}

.coverpic {
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 50px;
    object-fit: cover;
}

/*Index.html/Main Content----------*/

.intro {
    align-self: start;
    border: #003249 solid 1px;
    align-self: center;
}

.pic1 {
    align-self: center;
}

.text1 {
    align-self: center;
}

.text2 {
    align-self: center;
}

.intro {
    font-size: 28px;
    text-align: cente\r;
    padding: 1%;
    color: #007ea7;
}

.intro p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.25;
    padding: 1%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #007ea7;
}

.pic01 {
    max-width: 100%;
    align-self: stretch;
    border-radius: 20%;
}

.text1,
.text2,
.text3 {
    font-size: 30px;
    color: #007ea7;
    text-align: center;
}

.pic02 {
    max-width: 100%;
    align-self: stretch;
    border-radius: 20%;
    float: right;
}

.pic03 {
    max-width: 100%;
    align-self: stretch;
    border-radius: 20%;
    float: left;
}

.fnav ul {
    text-align: center;
    min-width: 100%;
    align-self: justify;
}

h3 a {
    text-decoration: none;
    color: #007ea7;
}

h3 :hover {
    color: #003249;
}

/*Index2.html Main Content---------*/


.pic011 {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding-top: 10px;
}

.pic012 {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding-top: 10px;
}

.pic013 {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding-top: 10px;
}
